################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/sft_oob_lic/v16
/.vs/sft_oob_lic/DesignTimeBuild
/bin/Debug/netcoreapp3.0
